.movie-container {
  display: flex;
  padding: 0 50px;
}

.movie-img {
  width: 320px;
  height: 450px;
}

.movie-details {
  margin-left: 40px;
}

.movie-header {
  font-size: 32px;
  font-weight: normal;
  margin-top: 40px;
}  
