.error-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #232323;
  color: #F65261;
  font-size: 30px;
  font-weight: bold;
}
