.movie-card {
  list-style-type: none;
  margin: 20px;
  position: relative;
}

.movie-actions {
  position: absolute;
  top: 20px;
  right: 20px;

  img {
    width: 30px;
    height: 30px;
  }
}

.actions-container {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #232323;
  padding: 5px 0;
  width: 120px;
}

.action-item {
  padding: 10px 20px;
}

.action-item:hover {
  background-color: #F65261;
  cursor: pointer;
}

.close-button {
  width: 100%;
  position: relative;

  img {
    position: absolute;
    top: -15px;
    right: 10px;
    width: 20px;
    height: 20px;
  }
}

.movie-img {
  max-width: 100%;
  max-height: 100%;
  width: 320px;
  height: 450px;
}

.movie-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.movie-name {
  font-size: 18px;
}

.movie-year {
  border: 1px solid #555;
  border-radius: 5px;
  padding: 5px 10px;
}

.movieGenre {
  color: #555;
}
